
.col-lg-6, .col-lg-12{
    padding-top: 15px;
}

.box{
    background-color: rgba(255, 255, 255, 0.66);
    border: 1px solid #bfbfbfa9;
    border-radius: 5px;
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    display: grid;
    grid-template-rows: 50px minmax(250px, auto);
}

.box:hover{
    background-color: rgba(250, 240, 240, 0.66);
}

.header{
    text-align: center;
    font-size: 1.9vw;
    font-weight: normal;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    word-break: break-all;
    overflow: hidden;
    padding-bottom: 20px;
}

.content div{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-width: 100%;
    flex-wrap: wrap;
    word-wrap: break-word;
    text-align: center;
}

.properties{
    align-items: flex-start;
    padding-top: 0.5%;
    padding-left: 1%;
    font-size: 1.4vw;
    justify-content: flex-start;
}

.properties div{
    justify-content: space-between;
    width: 60%;
}

.properties div img{
    height: 80%;
}

.semi-prime, .orange{
    margin-bottom: 0;
    color: #ffc14d;
}

.phone{
    align-items: flex-start;
    padding-top: 0.5%;
    padding-left: 1%;
    font-size: 1.4vw;
    justify-content: flex-start;
}

.orange{
    margin-left: 10px;
    margin-right: 10px;
}

table, td, th{
    border: 1px solid #FBAF00;
    padding: 20px;
}

td{
    width: 400px;
    text-align: center;
}

.space{
    height: 50px;
}