<!DOCTYPE html>
{% load static %}
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/5955755264.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/second_part.css' %}">
    <title>Numbers</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row d-block">

        <div class="col-lg-6 float-left">
          <div class="box">
            <h3 class="header">Divisors</h3>
            <div class="content">
              <div>1, 2, 5, 10,435 ,4 3534,6 3456234,5,436 ,345,56,,34,65,43435432523543643634765</div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 float-right">
          <div class="box">
            <h3 class="header">Properties</h3>
            <div class="content properties">
              <div>Semi-prime number <p class="semi-prime">11*11</p></div>
              <div>Palindromic number <img src="{% static 'images/palindromic.svg' %}" alt=""></div>
              <div>Square number <img src="{% static 'images/square.svg' %}" alt=""></div>
              <div>Square number <img src="{% static 'images/square.svg' %}" alt=""></div>
              <div>Square number <img src="{% static 'images/square.svg' %}" alt=""></div>
              <div>Square number <img src="{% static 'images/square.svg' %}" alt=""></div>
              <div>Square number <img src="{% static 'images/square.svg' %}" alt=""></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 float-left">
          <div class="box">
            <h3 class="header">Numeric systems</h3>
            <div class="content properties">
              <div>dec: 121</div>
              <div>hex: 0x79</div>
              <div>bin: 0o171</div>
              <div>oct: 0b1111001</div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 float-right">
          <div class="box">
            <h3 class="header">Phone</h3>
            <div class="content phone">
              <div>Country: <p class="orange">Russia</p></div>
              <div>Dial code: <p class="orange">+7</p></div>
              <div>Country code: <p class="orange">RU</p></div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 float-left">
          <div class="box">
            <h3 class="header">Factors</h3>
            <div class="content">
              <div>11*11</div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 float-right">
          <div class="box">
            <h3 class="header">Speed</h3>
            <div class="content">
              <div>121 m/s = <p class="orange">0.3 x</p> speed of sound</div>
              <div>121 m/s = <p class="orange">0.01 x</p> speed of light</div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 float-left">
          <div class="box">
            <h3 class="header">Bus</h3>
            <div class="content">
              <table>
                <tr>
                  <td>Przystanek 1</td>
                </tr>
                <tr>
                  <td>Przystanek 2</td>
                </tr>
                <tr>
                  <td>Przystanek 3</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        
        <div class="col-lg-12 float-left space"></div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/second_part.js' %}"></script>
  </body>
</html>